{% extends "polls/groups/pollsHome.html" %}
{% block content %}
        <h1> Edit</h1>

	<h2>Poll</h2>
	<form method="post" action="{% url 'group_poll_edit' group.id poll.id %}">
	{% csrf_token %}
		{{ poll_form.as_ul }}<br><br>
		<h2>Poll Options</h2>
		{{ poll_op_formset.management_form }}
		{% for form in poll_op_formset %}
			{{ form.as_ul }}<br><br>
		{% endfor %}

		<input type="submit" value="Submit Changes" />
                <input type="hidden" name="next" value="{{ next }}"/>

	</form>

        <br><br>
        <a href="{% url 'group_pollHome' group.id poll.id %}">Go to poll.</a>
{% endblock %}

