{% extends "index.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if not user.is_authenticated  %}
	<form method="post" action="{% url "login" %}">
	{% csrf_token %}
  	{{ form.as_table}}

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% else  %}
 You are already authenticated.
{% endif %}
{% endblock %}
{% block side_upper %}
{% endblock %}
{% block side_lower %}
{% endblock %}
{% block links %}
{% endblock %}
{% block footer %}
{% endblock %}
