{% extends "groups/groupPage.html" %}

{% block header %}
	<h1><a href="{% url 'group_page' %}"  ><span class="logo_colour">_Groups</span></a></h1>
        <h2>All</h2> 
{% endblock %}

{% block content %}
	<h1>All Groups</h1>
	<ul>
	{% for group in groups %}
		<li><a href="{% url 'group_home' group.id %}">{{ group.name }}</a></li>
	{% endfor %}
	</ul>

	<div class="pagination">
	    <span class="step-links">
        	{% if groups.has_previous %}
        	    <a href="?page={{ groups.previous_page_number }}">previous</a>
   	        {% endif %}

        	<span class="current">
            		Page {{ groups.number }} of {{ groups.paginator.num_pages }}.
        	</span>

        	{% if groups.has_next %}
        	    <a href="?page={{ groups.next_page_number }}">next</a>
        	{% endif %}
    	    </span>
	</div>
{% endblock %}
