{% extends "index.html" %}

{% block header %}
	<h1><a href="{% url 'group_page' %}"><span class="logo_colour">_Groups</span></a></h1>
	<h2>Home</h2>
{% endblock %}

{% block links %}
	<li><a href="{% url 'all_group' %}">All</a></li>
	<li><a href="{% url 'my_group' %}">My Groups</a></li>
	<li><a href="{% url 'register_group' %}">Create</a></li>	
{% endblock %}

{% block content %}
	<h1>Updates:</h1>
{% endblock %}

{% block side_upper %}
          <h3>Upcoming</h3>
          <h4>New Group</h4>
          <h5>July 21st, 2012</h5>
          <p>New group added to the colletion... <br /><a href="#">Read more</a></p>	
{% endblock %}
