{% extends "base.html" %}
{% block content %}
	<h1>All Courses</h1>
	{% for course in courses %}
		<a href="{% url 'course_home_url' courses.id %}">{{ course.name }}</a>
	{% endfor %}
	
	<div class="pagination">
	    <span class="step-links">
        	{% if contacts.has_previous %}
        	    <a href="?page={{ contacts.previous_page_number }}">previous</a>
   	        {% endif %}

        	<span class="current">
            		Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        	</span>

        	{% if contacts.has_next %}
        	    <a href="?page={{ contacts.next_page_number }}">next</a>
        	{% endif %}
    	    </span>
	</div>
{% enblock %}
