{% extends "base.html"  %}
{% block content %}

<h1>{{ course.name }}</h1>
<p> {{ course.description  }}  </p>

</br>

<h3>Admin: {{ courseAdmin  }}  </h3>

</br>


<h3>Moderators </h3>
<ul>
{% for mod in courseMods  %}
	<li> {{ mod.user.username  }} </li>
{% endfor %}
</ul>
<a href="{% url 'course_member_url' course.id %}"> Members </a></br>
<a href ="{% url 'course_posts_url' course.id %}">Posts</a></br>
<a href="">Forums</a></br>
<a href="">Assignments </a></br>
<a href="">Resources</a>
{% endblock %}
