{% extends "courses/course.html" %}

{% block header %}
        <h1><a href="{% url 'course_home' course.id %}"><span class="logo_colour">_{{ course.name }}</a></h1>
        <h2>Updates</h2>
{% endblock %}

{% block content %}
	<h1>UPDATES</h1>                 

	<ul>
	{% for update in updates %}
		<li>{{update.to_html|safe}} </li>
	{% endfor %}
	</ul>

	<br><br>
	<div class="pagination">
    		<span class="step-links">
       			{% if updates.has_previous %}
            			<a href="?page={{ updates.previous_page_number }}">previous</a>
        		{% endif %}

        	<span class="current">
            		Page {{ updates.number }} of {{ updates.paginator.num_pages }}.
        	</span>

        	{% if updates.has_next %}
            		<a href="?page={{ updates.next_page_number }}">next</a>
        	{% endif %}
    		</span>
	</div>
{% endblock %}
