{% extends "courses/course.html" %}

{% block header %}
        <h1><a href="{% url 'course_home' course.id %}"  ><span class="logo_colour">_{{ course.name }}</span></a></h1>
        <h2>Poll</h2>
{% endblock %}

{% block links %}
	<li><a href="{% url 'course_pollsHome' course.id %}">Home</a></li>
	<li><a href="{% url 'course_createPoll' course.id %}">Create</a></li>
	<li><a href="">Link</a></li>
{% endblock %}

{% block content %}
	<h1>POLLS</h1>
	{% for poll in polls%}
		<a href="{% url 'course_pollHome' course.id poll.id %}">{{ poll.title }}</a><br><br>
	{% endfor %}

	<br><br>
	<div class="pagination">
    		<span class="step-links">
       			{% if polls.has_previous %}
            			<a href="?page={{ polls.previous_page_number }}">previous</a>
        		{% endif %}

        	<span class="current">
            		Page {{ polls.number }} of {{ polls.paginator.num_pages }}.
        	</span>

        	{% if polls.has_next %}
            		<a href="?page={{ polls.next_page_number }}">next</a>
        	{% endif %}
    		</span>
	</div>
{% endblock %}
