{% extends "polls/courses/pollsHome.html" %}
{% block content %}
	<h1>{{ poll.title }}</h1>
	<p>{{ poll.description }}</p>
	{% if poll_ops %}
		<form method="post" action="{% url 'course_pollHome' course.id poll.id %}">
		{% csrf_token %}
		{% for poll_op in poll_ops %}
			<input type="radio" name="vote" value="{{ poll_op.id }}" /> {{ poll_op.name }}<br>	
		{% endfor %}
			<input type="submit" value="Vote" name="Vote" />
			<input type="hidden" name="next" value= {{ next }} />
		</form>
	{% else %}
		<h2>No options have been added yet.</h2>
	{% endif %}
{% endblock %}
